* {
    box-sizing: border-box;
}

/*Body styling*/
body {
    background-color: aquamarine;
    margin: 0;
    font-family: arial;
    font-size: 14px;
}

h2 {
    color: #ea5045;
    text-transform: uppercase;
}

nav {
    width: 100%;
    background-color: #ea5045;
    padding: 1em;
    overflow: auto;
}

ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}

li {
    float:left;
}

.logo img {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

nav a {
    width:10%;
    display:block;
    padding: 20px;
    text-decoration: none;
    font-family: arial;
    color: #f2f2f2;
    text-align: center;
}

nav a:hover {
    background-color: #aaa;
    transition: 0.5s;
}


/*Username and password on login styling*/
#name,
#pw {
    border: 3px solid;
}

/*Send button on login styling*/
#sendButton {
    font-size: 20px;
    background-color: red;
}

/* The login form */
#loginForm {
    font-size: 20px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: aqua;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 0%;
    /* Place content from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/*Header styling and animation*/
header {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #ea5045;
    border-radius: 5px;
    animation: boxopen 2s ease-in-out 0.1s 1 normal;
}

/*Profile styling and animation*/
.profile {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 5px;
    animation: boxopen 2s ease-in-out 0.2s 1 normal;
}

/*Feedback styling and animation*/
.feedback {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 5px;
    animation: boxopen 2s ease-in-out 0.2s 1 normal;
}

/*Feedback hover effect*/
.feedback:hover {
    background-color: bisque;
    transition: .5s;
}

/*Portfolio styling and animation*/
.portfolio {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 5px;
    animation: boxopen 2s ease-in-out 0.3s 1 normal;
}

/*Footer styling and animation*/
footer {
    margin: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 5px;
    animation: boxopen 2s ease-in-out 0.5s 1 normal;
}

/*Keyframes for section animation*/
@keyframes boxopen {
    0% {
        width: 0%;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}
